.caja{
    display: flex;
    flex-direction: row;
}

#circulo1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: blue;
}

#circulo2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: pink;
}

#circulo3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: greenyellow;
}