body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
}
.caja {
    border: 4px black solid ;
    background-color: lightgray;
    text-align: center;
    

}
.contenedor{
    display: grid;
    margin: 0 auto;
    width: 80% ;
    height:84vh ;
    padding: 20px ;
    border: 2px black dashed;
    background-color: lightgray;
    grid-template-areas: 'c1 c1' 'c2 c2' 'c3 c4' 'c5 c5' ;
    grid-template-rows: 15% 20% auto 10% ;
    grid-template-columns: 50% 50% ;
}

.c1{
    grid-area: c1 ;
    background-color: rgb(10, 97, 126);
    line-height:80px ;
    grid-column: 1/span 2 ;
    height: auto;

}
.c2{
    grid-area: c2;
    background-color:rgb(185, 185, 25) ;
    line-height: 100px ;
    grid-column: 1/ span 2;
}
.c3{
    grid-area: c3;
    background-color: rgb(146, 27, 13) ;
   line-height:300px ;
}
.c4{
    grid-area: c4;
    background-color: rgb(115, 12, 211) ;
    line-height: 300px ;
    
}
.c5{
    grid-area: c5;
    background-color: rgb(141, 206, 20) ;
    grid-column: 1/span 2 ;
    line-height:60px ;
    

}